body {
	color: #4d4d4d;
	font-family: "Ubuntu", "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 1;
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;
}

.header-wrap {
	margin: 30px auto 0;
	display: block;
	width: 500px;
}

.hometask {
	font-family: 'Ubuntu', sans-serif;;
	font-size: 40px;
	text-align: center;
}

.community {
	font-size: 20px;
	text-align: right;
}
/* ========== Team list ========== */
.team-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.team-list__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        -webkit-flex-direction: column;
	        flex-direction: column;
	width: 269px;
	padding: 25px 15px 30px;
	text-align: center;
	border-top: 4px solid transparent;
}

.team-list__img img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.name {
	margin: 10px 0px;
	color: #999999;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	font-weight: 400;
}

.phone {
	margin-top: 5px;
}

.e-mail {
	margin-top: 5px;
}
.e-mail a {
	color: #4d4d4d;
	text-decoration: none;
}

/* ====== social ====== */
.social {
	margin-top: 10px;
}

.social__link {
	font-size: 22px;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
.social__link:last-child {
	margin-right: 0;
}

.social__link.facebook:hover {
	color: #4267B2;
}

.social__link.linkedin:hover {
	color: #0077B5;
}

.social__link.github:hover {
	color: #24292E;
}

input[type=submit] {
	margin-top: 12px;
    padding: 5px 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
	font-size: 16px;
	line-height: 1;
	color: #FFFFFF;
    background: #18E80E; 
    outline: none;
    border: 0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}